{% extends 'BlogApp/base.html' %}
{% load i18n %}

{% block title %}
    Article list
{% endblock %}

{% block body %}
    <h1>Articles:</h1>
    {% if articles %}
        <div>
            {% for article in articles %}
                <div>
                    <p>
                        <a href="{% url 'blogapp:article' pk=article.pk %}">
                    <h5>Title: {{ article.title }} </h5>
                    </a>
                    </p>
                    {#                    <p>Content: {{ article.content }}</p>#}
                    <p>Pub_date: {{ article.pub_date }}</p>
                    <p>Created by: {{ article.author }}</p>
                    <p>Category: {{ article.category }}</p>
                    <p>Tags:{% for tag in article.tags.all %}
                        {{ tag.name }}{% if not forloop.last %},{% endif %}

                    {% endfor %}</p>
                    <br>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No published articles yet</h3>
    {% endif %}
{% endblock %}